@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

a {
    text-decoration: none;
}

body {

    --background-dark: url(images/background/desktop-dark.jpg);
    --background-light: url(images/background/desktop-light.jpg);

    --card-background-color: rgba(255, 255, 255, 0.1);
    --card-border-color: rgba(255, 255, 255, 0.5); 

    --primary-color: #FFFF;
    --secondary-color: #000000;

    background-image: var(--background-dark);
    background-repeat: no-repeat;
    background-position: top;
    font-family: 'Roboto', sans-serif;
}

.body-light-theme {
    background-image: var(--background-light);
}

header {
    margin: 20px 0px;
    height: 20vh;
    min-height: 200px;
    width: 100%;
    display: grid;
    grid-template-areas: 
    'v1 logo switch'
    'v2 titulo v3';
    align-items: center;
    justify-items: center;
    row-gap: 20px;
}

.grid-clear1 {
    opacity: 0;
    margin-left: 20px;
    grid-area: 'v1'
}

.grid-clear2 {
    grid-area: 'v2'
}

.grid-clear3 {
    grid-area: 'v3'
}

#logo {
    grid-area: 'logo';
}

#switch {
    margin-right: 20px;
    grid-area: 'switch';
    justify-self: end;
    align-self: start;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
}


#titulo {
    grid-area: 'titulo';
}

/* ------ CARDS ------ */

.card-field {
    width: 85%;
    height: 55vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 390px));
    column-gap: 40px;
    row-gap: 20px;
    justify-content: center;
    justify-items: center;
}

.card {
    background: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    backdrop-filter: blur(21px);
    border-radius: 12px;
    height: 208px;
    width: 390px;
}

/* ------ CARDS HEADERS ------ */

.card-header {
    display: flex;
    padding: 15px 15px 8px 15px;
}

.card-header img {
    margin-right: 5px;
    width: 80px; 
    height: 80px;
}

.card-header-text h2 {
    font-size: 1.2em;
    color: var(--primary-color);
    font-weight: 700;
}

.card-header-text p {
    margin-top: 15px;
    color: var(--primary-color);
    font-weight: 100;
    font-size: 13px;
    line-height: 13px;
}

/* ------ CARDS LINGUAGES ------ */

.card-linguages {
    display: flex;
    justify-content: end;
}

.linguages {
    height: 29px;
    width: 280px;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.img-html, .img-css {
    width: 25px;
}

.img-js {
    width: 29px;
}

.img-php {
    width: 40px;
}

.img-mysql {
    width: 60px;
}

/* ------ CARDS BUTTONS ------ */

.card-buttons {
    padding: 5px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-buttons .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 118px;
    height: 35px;
    background-color: var(--primary-color);
    border-radius: 19px;
}

.card-buttons .button h5 {
    text-transform: uppercase;
    color: var(--secondary-color);
    line-height: 11px;
}

.card-buttons .button span {
    text-transform: uppercase;
    color: var(--secondary-color);
    font-weight: 900;
}

.button .img-github {
    width: 30px;
    margin-left: 3px;
}

.button .text-github {
    width: 62px;
}

.button .img-linkedin {
    width: 27px;
    margin-left: 11px;
}

.button .text-linkedin {
    width: 69px
}

.button .img-curriculum {
    width: 27px;
    margin-left: 8px;
}

.button .text-curriculum {
    margin-right: 6px;
}


/* ------ VIEWPORT FOR MOBILE ------ */

@media (max-width: 470px) {

    .card {
        width: 300px;
        height: 150px;
    }

    /* ------ CARDS HEADERS ------ */

    .card-header img {
        width: 50px; 
        height: 50px;
    }

    .card-header-text h2 {
        font-size: 0.9em;
    }

    .card-header-text p {
        font-size: 10px;
        margin-top: 5px;
    }

    /* ------ CARDS LINGUAGES ------ */

    .linguages {
        width: 220px;
        gap: 5px;
    }

    .img-html, .img-css {
        width: 15px;
    }

    .img-js {
        width: 20px;
    }

    .img-php {
        width: 30px;
    }

    .img-mysql {
        width: 50px;
    }

    /* ------ CARDS BUTTONS ------ */

    .card-buttons{
        height: 50px;
    }

    .card-buttons .button {
        width: 80px;
        height: 25px;
    }

    .card-buttons .button h5 {
        font-size: .6em;
        line-height: 8px;
    }
    
    .card-buttons .button span {
        font-size: 1em;
    }

    .button .img-github {
        width: 20px;
        margin-left: 3px;
    }
    
    .button .text-github {
        width: 50px;
    }
    
    .button .img-linkedin {
        width: 17px;
        margin-left: 7px;
    }
    
    .button .text-linkedin {
        width: 50px
    }
    
    .button .img-curriculum {
        width: 17px;
    }
    
    .button .text-curriculum {
        font-size: .9em;
        margin-right: 6px;
    }
}