@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --background: url(images/background/desktop-dark.jpg);
    --card-background-color: rgba(255, 255, 255, 0.1);
    --card-border-color: rgba(255, 255, 255, 0.5); 
    --switch-hover: rgba(255, 255, 255, 0.20);

    --primary-color: #FFFF;
    --secondary-color: #000000;
}

.light {
    --background: url(images/background/desktop-light.jpg);
    --card-background-color: rgba(0, 0, 0, 0.1);
    --card-border-color: rgba(0, 0, 0, 0.5); 
    --switch-hover: rgba(0, 0, 0, 0.2);

    --primary-color: #131313;
    --secondary-color: #FFFF;
}

a {
    text-decoration: none;
}

body {
    background-image: var(--background);
    background-repeat: no-repeat;
    background-position: top;
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 20px 0px;
    height: 20vh;
    min-height: 200px;
    width: 100%;
    display: grid;
    grid-template-areas: 
    'v1 logo switch'
    'v2 titulo v3';
    align-items: center;
    justify-items: center;
    row-gap: 20px;
}

.grid-clear1 {
    opacity: 0;
    margin-left: 20px;
    grid-area: 'v1'
}

.grid-clear2 {
    grid-area: 'v2'
}

.grid-clear3 {
    grid-area: 'v3'
}

#logo {
    grid-area: 'logo';
}

/* ------ SWITCH ------ */

#switch-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
    grid-area: 'switch';
    justify-self: end;
    align-self: start;
}

#switch-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;

    height: 32px;
    width: 32px;
    border-radius: 50%;

    background-color: var(--primary-color);
    z-index: 999;

    cursor: pointer;
}

.switch-dark {
    animation: slide-out 0.75s forwards;
}

.switch-light {
    animation: slide-in 0.75s forwards;
}

#switch-button:hover {
    transition: outline 0.2s ease-in;
    outline: 7px solid var(--switch-hover);
}

#switch-bg {
    height: 24px;
    width: 64px;
    border: 1px solid var(--card-border-color);
    border-radius: 200px;
    background-color: var(--card-background-color);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
}

#titulo {
    grid-area: 'titulo';
}

/* ------ CARDS ------ */

.card-field {
    position: relative;

    width: 85%;
    height: 55vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 390px));
    column-gap: 40px;
    row-gap: 20px;
    justify-content: center;
    justify-items: center;
}

.card {
    position: relative;

    background: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    backdrop-filter: blur(21px);
    border-radius: 12px;
    height: 208px;
    width: 390px;

    transition: all 0.2s ease;
}

.card:hover {
    transition: all 0.2s ease;
    transform: translateY(-20px);

    box-shadow: 0 0 15px var(--switch-hover);
}

/* ------ CARDS HEADERS ------ */

.card-header {
    display: flex;
    padding: 15px 15px 8px 15px;
}

.card-header img {
    margin-right: 5px;
    width: 80px; 
    height: 80px;
}

.card-header-text h2 {
    font-size: 1.2em;
    color: var(--primary-color);
    font-weight: 700;
    transition: all 0.2s ease;
}

.card-header-text p {
    margin-top: 15px;
    color: var(--primary-color);
    font-weight: 100;
    font-size: 13px;
    line-height: 13px;
    transition: all 0.2s ease;
}

/* ------ CARDS LINGUAGES ------ */

.card-linguages {
    display: flex;
    justify-content: end;
}

.linguages {
    height: 29px;
    width: 280px;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.img-html, .img-css {
    width: 25px;
}

.img-js {
    width: 29px;
}

.img-php {
    width: 40px;
}

.img-mysql {
    width: 60px;
}

/* ------ CARDS BUTTONS ------ */

.card-buttons {
    padding: 5px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-buttons .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 118px;
    height: 35px;
    background-color: var(--primary-color);
    border-radius: 19px;
}

.card-buttons .button h5 {
    text-transform: uppercase;
    color: var(--secondary-color);
    line-height: 11px;
}

.card-buttons .button span {
    text-transform: uppercase;
    color: var(--secondary-color);
    font-weight: 900;
}

.button .img-github {
    width: 30px;
    margin-left: 3px;
}

.button .text-github {
    width: 62px;
}

.button .img-linkedin {
    width: 27px;
    margin-left: 11px;
}

.button .text-linkedin {
    width: 69px
}

.button .img-curriculum {
    width: 27px;
    margin-left: 8px;
}

.button .text-curriculum {
    margin-right: 6px;
}

/* ------ ANIMATION ------ */

@keyframes slide-in {
    from {
        left: 0;
    }

    to {
        left: 50%;
    }
}

@keyframes slide-out {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }
}

@keyframes entry {
    from {
        opacity: 0;
        top: -100px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

/* ------ CARD ENTRY ANIMATION ------ */

.entry1{
    animation: entry ease 0.5s both;
}

.entry2{
    animation: entry ease 0.5s both calc(0.1s *2);
}

.entry3{
    animation: entry ease 0.5s both calc(0.1s *3);
}

.entry4{
    animation: entry ease 0.5s both calc(0.1s *4);
}

.entry5{
    animation: entry ease 0.5s both calc(0.1s *5);
}

.entry6{
    animation: entry ease 0.5s both calc(0.1s *6);
}


/* ------ VIEWPORT FOR MOBILE ------ */

@media (max-width: 470px) {

    .card {
        width: 300px;
        height: 150px;
    }

    /* ------ CARDS HEADERS ------ */

    .card-header img {
        width: 50px; 
        height: 50px;
    }

    .card-header-text h2 {
        font-size: 0.9em;
    }

    .card-header-text p {
        font-size: 10px;
        margin-top: 5px;
    }

    /* ------ CARDS LINGUAGES ------ */

    .linguages {
        width: 220px;
        gap: 5px;
    }

    .img-html, .img-css {
        width: 15px;
    }

    .img-js {
        width: 20px;
    }

    .img-php {
        width: 30px;
    }

    .img-mysql {
        width: 50px;
    }

    /* ------ CARDS BUTTONS ------ */

    .card-buttons{
        height: 50px;
    }

    .card-buttons .button {
        width: 80px;
        height: 25px;
    }

    .card-buttons .button h5 {
        font-size: .6em;
        line-height: 8px;
    }
    
    .card-buttons .button span {
        font-size: 1em;
    }

    .button .img-github {
        width: 20px;
        margin-left: 3px;
    }
    
    .button .text-github {
        width: 50px;
    }
    
    .button .img-linkedin {
        width: 17px;
        margin-left: 7px;
    }
    
    .button .text-linkedin {
        width: 50px
    }
    
    .button .img-curriculum {
        width: 17px;
    }
    
    .button .text-curriculum {
        font-size: .9em;
        margin-right: 6px;
    }
}